.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px;
  }
  
  .filter input {
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .filter select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  