.movie-description {
  text-align: center;
  padding: 20px;
}

.movie-description img {
  max-width: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.movie-description iframe {
  margin-top: 20px;
  width: 100%;
  height: 315px;
}
